:root {
  // body colors
  --primary-body-color: #202020;
  --secondary-body-color: white;
  --tertiary-body-color: #f5f5f5;
  --primary-border-color: #b1b1b1;

  --form-color: #dddddd;
  --secondary-form-color: #444444;
  --body-color: #2c2e32;
  --blured-button: #535353;
  --blured-background-color: #2525253f;
  --toolbar-color:#fafafa;
  --toolbar-border-color:#cacaca;
  --note-container-border-color: #adadad;
  --hover-body-color: #e7e7e7;
  
 

  // text color
  --default-text-color: white;
  --primary-text-color:#202020;
  --secondary-text-color: #444444;
  --tertiary-text-color: #757575;
  --error-text-font-color:red;
  --valid-text-font-color:#00FF55;


  // text font
  --primary-font: 'Poppins', sans-serif;
  --secondary-font:'Shadows Into Light', cursive;
}