@import  '../utils';


.public-content{
  color: var(--primary-text-color);
  padding-top: 65px;
 }


 .login{
    height: inherit;
    @include flex(row);
    height: 700px;


    
  .login-form {
    height: 28em;
    width: 100%;
    margin: 0px 10px 0px 10px;
    max-width: 23em;
    @include flex(column,flex-start);
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    
    
   .login-header {
      @include flex(column);
      background-color: var(--primary-body-color);
      font-family: var(--secondary-font);
      width: 100%;
      height: 70px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      font-size: 1.5em;   
    }

    .first-login-content, .second-login-content{
      margin-top: 20px;
    }

  
    .input-label{
      font-size: 0.9em;
      color: var(--primary-text-color);

    }

    .form-input{
      padding: 8px 3px 8px 8px;
      width: 17em;
      border-radius: 3px;
      outline: none;
      border: 1px solid var(--form-color);
      font-size: 1em;
     
    }

    .forgot-password{
      margin-top: 7px;
      color:  var(--primary-text-color);
      font-size: 0.8em;
    } 

    .login-button{
      font-family: var(--secondary-font);
      border: 1px solid var(--primary-body-color);
      background-color: var(--primary-body-color);
      font-size: 1em;
      margin-top: 20px;
      padding: 8px 8px 8px 8px;
      width: 17.8em;
      border-radius: 3px;

     
      color: white;
      cursor: pointer;
       

      &.loggingIn {
        background-color: var(--blured-button);
        border-color: var(--blured-button);
      }
    }

    .dont-have{
      font-size: .8em;
      margin-top: 25px;
    }
    .create-account{
      color:  var(--body-color);
      font-size: .9em;
      font-style: italic;    
    }

    .errorLogin{
      color: var(--error-text-font-color);
      font-size: 0.8em;
    }
    .registered{
      color: var(--valid-text-font-color);
      font-size: 0.8em;
    }
  }
 }


 .register{
  height: inherit;
  @include flex(row);
  height: 800px;
 
.register-form {
  @include flex(column,flex-start);
  height: 36em;
  width: 23em; 
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
  
 .register-header {
    @include flex(column);
    background-color: var(--primary-body-color);
    font-family: var(--secondary-font);
    width: 100%;
    height: 70px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 20px;
    color: white;
    text-align: center;  
    font-size: 1.5em;
  }

  .first-register-content, .second-register-content, .third-register-content, .fourth-register-content{
    margin-top: 20px;
  }
  
  .fourth-register-content{
    margin-bottom: 20px;
  }


  .input-label{
    font-size: 0.9em;
    color: var(--primary-text-color);

  }

  .form-input{
    padding: 8px 3px 8px 8px;
    width: 17em;
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--form-color);
    font-size: 1em;
  }

  


  .forgot-password{
    margin-top: 7px;
    color:  -var(--body-color);
    font-size: 0.8em;
  }

   .register-container{
    @include flex(column,left,center);     
   }  

  .register-button{
    font-family: var(--secondary-font);
    background-color: var(--primary-text-color);
    border: 1px solid var(--primary-body-color);
    border-radius: 3px;
    margin-top: 10px;
    padding: 8px 8px 8px 8px;
    width: 17.8em;  
    font-size: 1em;
    color: white;
    cursor: pointer;
    

    &.signingup{
      background-color: var(--blured-button);
      border-color: var(--blured-button);
    }
     
  }

  .dont-have{
    font-size: .8em;
    margin-top: 25px;
  }
  .create-account{
    color:  var(--body-color);
    font-size: .9em;
    font-style: italic;
  }

  .errorLogin{
    color: var(--error-text-font-color);
    font-size: 0.8em;
  }

  .registered{
    color: var(--valid-text-font-color);
    font-size: 0.8em;
  }
}
}


.verification-page {
   height: 100vh;
}

.Dashboard{
  height: 800px;
  @include flex(row,default,default);

  .drag-purpose{
    width: 330px;
    padding-right: 1vw;
    cursor:ew-resize;
    min-width: 250px;
    max-width: 500px;
    user-select: none;

    @include responsive{
      width: 290px;
 
    }
    @include responsive2{
      width: 250px;
    }

    @include responsive3{
    
      max-width: none;
      padding-right: 0px;
      cursor: default;
      width: 100vw;
    }

    .toolbar{
      box-sizing: border-box;
      @include flex(column,default,default);
      position: relative;
      background-color: var(--toolbar-color);
      padding: 15px 0px 15px 10px;
      width: 100%;
      cursor: default;
      box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.3);
         
      .search{
        outline: none;
         height: 21px;
         font-size: 0.9em;
         border: 1px solid var(--blured-button);
         padding-left: 15px;
         margin-right: 130px;
         max-width: 300px;
         border-radius: 20px;
                 
      }


      .sort{
         outline: none;
         height: 25px;
         color: var(--secondary-text-color);
         border-radius: 3px;
         width:150px;
         margin-top: 10px;       
      }

      .createnote-mobile{
        @include flex(column);
        position: absolute;
        right: 10%;
        top: 23px;
        user-select: none;
        cursor: pointer;
        
        .createnote-image{
          height: 25px;
          opacity: 75%;
        }
        
        .createnote-text{
          margin-top: 5px;
           font-size: 0.7em;
           color: var(--secondary-text-color);
           cursor: pointer;
        }
      }
  
    }

  }


  .left-section {
    @include flex(column,default,default);
    box-sizing: border-box;
    height: 710px; 
    width: 100%;
    border: 1px solid var(--toolbar-border-color);
    background-color: (--toolbar-color);
    overflow-y: scroll;
    cursor:default;
    padding-top: 10px;
    box-shadow: inset 0px 0.2px 0px rgba(0, 0, 0, 0.1);
    

    &.inactive {
      align-items: center;
    }  

    .nonotes{
      opacity: 65%;
    }

   .note-container{
      box-sizing: border-box;
      padding-left: 1vw;
      border-bottom: 1px solid var(--note-container-border-color);

      .note-title {

        font-weight: 400;
        font-size: 1.1em;
        max-height: 1.4em;
        overflow: hidden;
            
       }
   
       .date-format{
         font-size: 0.8em;
         font-weight: 400;
         color: var(--secondary-text-color);
       }

       &:hover {
        background-color: var(--hover-body-color);
       }
    } 
  }
  
  .right-section {
    @include flex(column,default,default);
    padding: 3em 4% 4% 4%;
    padding-top: 3em;
    flex-grow: 1;
    position: relative;

    &.blank{
      @include flex(column,flex-start,center);
    }

    .createNote{
      @include flex(row);
      column-gap: 10px;
      height: 150px;
      width: 380px; 
      font-size: 1.6em;
      background-color: var(--secondary-body-color);
      cursor: pointer;
      border-radius: 20px;
      margin-top: 5em;   
      border:none;
  
      &:hover {
             
      .addnote-text {
        transition: ease-in-out 0.2s;
        opacity: 65%;
        font-size: 1.1em; 
      } 
     
      .addnote-icon {
        transition: ease-in-out 0.2s;
        opacity: 65%;
      }      
      }
       
      .addnote-text {
        opacity: 40%;
        cursor: pointer;
        transition: ease-in-out 0.2s;     
      } 
    
      .addnote-icon {
        opacity: 40%;
        height: 30px;
        cursor: pointer;
        transition: ease-in-out 0.2s;
      }    
    }
   
    .exitButton{
      opacity: 85%;
      position: absolute;
      top: 10px;
      right: 28px;
      height: 27px;
      width: 27px;
      cursor: pointer;
    }

    .title-label{
      font-weight: 300;
      font-size: 0.9em;
      color: var(--secondary-text-color);
    }
  
    .SDicons {
      @include flex(row,center,center);
      position: absolute;
      left: 28px;
      top: 10px;

      .saveFile {
        height: 22px;
        opacity: 30%;
        margin-right: 15px;
        &.on {
          opacity: 85%;
          cursor: pointer;
        }
      }

      .deleteFile {
        opacity: 30%;
        height: 27px;
         
        &.on {
          opacity: 88%;
          cursor: pointer;
        }
      }
    } 

    .titleform{
     box-sizing: border-box;
     width: 100%;
     border: none;
     margin-bottom: 1em;
     border-bottom: 1px solid var(--form-color);
     outline: none;
     font-size: 1.1em;
     padding: 0px 5px 3px 5px;
     font-family: var(--primary-font);
     font-weight: 400;  

    }

    .bodyform{
      font-size: 0.9em;
      box-sizing: border-box;
      padding: 1em 2% 2em 2%;
      width: 100%;
      border: 1px solid var(--form-color);
      resize: none;
      height: 100%;
      outline: none;
      font-family: var(--primary-font);
      overflow-y: scroll;
      font-weight: 400   
    }
  }
}




body::-webkit-scrollbar {
  
  @include responsive3 {
    display: none; /* for Chrome, Safari, and Opera */   
  }
}


.mobile-mainmenu {
  @include flex(row,default,default);
   height: calc(100vh - 65px);
   width: 170vw;
   position: fixed;
   z-index: -1;
   transition: ease-in .5s;
   opacity: 0%;

    .mobile-menu-blur{
      
      height: calc(100vh - 65px);
       width: 100vw;
       transition: all 0.3s;
      
       &.active {
        width: 30vw;
        transition: all 0.3s;
        background-color: --blured-background-color;    
       }
    }

   .mobile-menu-pane{
    @include flex(column,default,default);
     z-index: 3000;
     height: calc(100vh - 65px);
     width: 70vw;
     background-color: var(--secondary-body-color);
     box-shadow: 5px 0px 15px rgba(0, 0, 0, 1);
    
     .mobile-menu-pane-header{
      @include flex(row,default,default);
       height: calc(25vh - 65px);
       width: 70vw;
       border-bottom: 1px solid var(--toolbar-border-color);
       padding-left: 5px;
       box-sizing: border-box;

       .mobile-profile-container{
        @include flex(row);
         width: 20vw;

        .mobile-profile-pic{
          height: 45px;
          width: 45px;
          border-radius: 50%;
         } 
       }

       .mobile-username-container{
        @include flex(row,flex-start,center);
        width: 50vw;

        .mobile-username-text{
           font-weight: 500;          
        }
       }      
     }

     .mobile-menu-pane-body{
      box-sizing: border-box;
      padding-top: 5vh;
      padding-left: 0vw;
      height: 75vh;
      width: 70vw;
      margin: 0;
      position: relative;
 
      .dropdown-choice {
        display: block;
        height: 35px;
        padding-left: 90px;
        padding-top: 10px;

        &:hover{
          background-color: var(--hover-body-color);
       }
      }

      .mobile-each-list-settings, .mobile-each-list{
        @include flex(row,flex-start,center);
        padding-left: 8vw;
        user-select: none;

        &:hover{
           background-color: var(--hover-body-color);
        }   
        .setting, .setofnotes, .feedback-button {
          height: 20px;
          opacity: 70%;
          margin-right: 15px;      
        }
      }

      .mobile-each-list-settings{
        .dropdown-icons {
           position: absolute;
           right: 40px;
           transform: rotate(90deg);
           height: 20px;
           opacity: 90%;
           transition: ease-in-out 0.3s;
        }
      }


      .mobile-logout-container {
        @include flex(row,default,center);
        position: absolute;
        right: 10vw;
        bottom: 10vh;
        border: 2px solid rgb(218, 218, 218);
        border-radius: 5px;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        background-color: (--toolbar-color);

        
        .logout-button{
          height: 20px;
          opacity: 70%;
          margin-right: 15px;
        }
      }
     }
   }

   &.active {
    transition: ease-out .5s;
    opacity: 100%;
    z-index: 2000;
    
    backdrop-filter: blur(3px); 
   }
}

.Main-Settings{
  @include flex(row,default,default);
  position: relative;

  .backarrow-img {
     position: absolute;
     left: 25px;
     top: 10px;
     opacity: 15%;
     cursor: pointer;
     height: 40px;
    transform: rotate(180deg);

     &:hover {
      opacity: 25%;
     }
  }

  .settings-list {
     @include flex(column,default,default);
    height: 700px;
     width: 300px;
     padding-top: 80px;  
     border-right: 1px solid var(--primary-border-color);

     .each-list {
      cursor: pointer;
      color: #636060;
      font-size: 0.9em;
      text-decoration: none;
      margin-bottom: 12px;
      padding-left: 30px;
      transition: ease-in 0.2s;
      
      &.active {
        opacity: 50%;
      }
     }
  }

  .setting-content{
     flex-grow: 1;
     height: 700px;

     .setting-profile-container{
      
      .profile-pic-container{
        height:120px;
        
        img{
          border: 1px solid #3f3e3e2d;
          border-radius: 200px;
          height:100px;
          width:100px;
        }
      }
     }
  }
}
 

.Main-forgot-Password {
  padding-top: 20vh;
  height: 700px; 
  background-color: #f3f3f3;

  
  .loading {
    @include flex(row);
    background-color: #ffffff93;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
   
  }

  .forgot-password-container{
    @include flex(column,flex-start,center);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 30em;
    min-width: 15em;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    margin: auto;
    background-color:  rgb(245, 245, 245);

    .first-container{
      @include flex(row,flex-start,default);
     width: 100%;
     border-bottom: solid 1px #ccc;

     
      h3{
        color: #37373a;
        padding-left: 20px;
        font-size: 1.3em;
        font-family: 'Source Sans Pro', sans-serif;      
      }
    }


    .second-container {
      @include flex(row,flex-start,default);
      width: 100%;
      

      .search-account {
         color: #2a2a2b;
         padding-left: 15px;
      }
    }

    .resetpassword-body{
      @include flex(row,default,flex-start);
     width: 100%;
    
      .choose-method{
        margin:none;
        padding: 0px;
        width: 100%;
        border: 0px;
        position: relative;
        height: 170px;
  
        .recovery-option{
          accent-color: rgb(32, 32, 32);
          height:20px;
          width: 20px;
          position: absolute;
          left: 10px;
        }
  
        .email-recovery{         
          &:hover {
            background-color: #e2dfdf;
         }
          p{
            margin: 0px;
            margin-left: 45px;
            font-weight: 300;
            font-size: 0.9em;
            color: #2b2b2b;
         }
        }
        .SMS-recovery {
          margin-top: 15px;
          &:hover {
            background-color: #e2dfdf;
          }
          p{
             margin: 0px;
             margin-left: 45px;
             font-weight: 300;
             font-size: 0.9em;
             color: #2b2b2b;
         }
        }
      }
  
      .user-preview{
        @include flex(column);
        height: 170px;
        width: 70%;
        padding-top: 25px;
    
        p{
           font-weight: 400;
        }
      }
    }

  
  }
  .input-container{
    @include flex(row);
     width: 100%;


    .forgot-password-input { 
      border-radius: 6px;
      height: 40px;
      flex-grow: 1;
      outline: none;
      border: 1px solid #ccd0d5;
      margin: 0px 15px 0px 15px;
      color: #262627;
      font-size: 1em;
      padding-left: 10px;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;    
    }
  }

  .buttons-container {
    @include flex(row,flex-end,center);
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    padding-right: 30px;


    .cancel-button {
      
      height: 40px;
      width: 85px;
      font-family: "Poppins",sans-serif;
      border: 1px solid #202020;
      background-color: #fff;
      border-radius: 7px;
      outline: none;
      cursor: pointer;
      color: #141414;
      font-size: 0.9em;
    }

    .search-button {
       margin-left: 15px;
       height: 40px;
       width: 85px;
       font-family: "Poppins",sans-serif;
       border: 1px solid #3f3f3f;
       margin-left: 20px;
       background-color: #1f1f1f;
       border-radius: 7px;
       color: #fff;
       cursor: pointer;
       outline: none;
       font-size: 0.9em;
    }
  }

  .code-container{

    outline: none;
    height: 35px;
    font-size: 1.1em;
    padding-left: 15px;
    border-radius: 7px;
    border: 1px solid #ccd0d5;
    color: #262627;
    width: 220px;
    margin-left: 25px;

    &::placeholder{
      font-family: 'Poppins', sans-serif;
      color: #8c8c8f;
      font-weight: 300;
      font-size: 0.9em;     
    }
    
  } 
}


.main-admin{
   height: 800px;


   .admin-content-container{
    @include flex(row,default,default);
    position: relative;
  

    .backarrow-img {
       position: absolute;
       left: 25px;
       top: 10px;
       opacity: 15%;
       cursor: pointer;
       height: 40px;
      transform: rotate(180deg);
  
       &:hover {
        opacity: 25%;
       }
    } 
  
    .admin-list {
       @include flex(column,default,default);
       height: 700px;
       width: 300px;
       padding-top: 80px;  
       border-right: 1px solid #d6d6d6; 

       .each-list {
        cursor: pointer;
        color: #636060;
        font-size: 0.9em;
        text-decoration: none;
        margin-bottom: 12px;
        padding-left: 30px;
        transition: ease-in 0.2s;
        
        &.active {
          opacity: 50%;
        }         
      }
    }
  
  
    .admin-left-content{
       flex-grow: 1;
       height: 700px;
  
       .setting-profile-container{
        
        .profile-pic-container{
          height:120px;
          
          img{
            border: 1px solid #3f3e3e2d;
            border-radius: 200px;
            height:100px;
            width:100px;
          }
        } 
       }
    }
  }
}


.main-feedback{
   height: 800px;
}





